/* rarebird.css */

 body,html{
     margin: auto;
}
 
.container {
    background-color:#33cccc; 
}
    
   
/* The owl background image for the index.html page */
 
  #summer-background {
   background-image: url("../images/background/owl.jpg");
   margin: 0;
   height: 600px;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
}

h1 {
    text-align: center;
    color: #00cc66;
    top: 100%;
    left: 100%;
    padding-top: 1cm;
}


/* Nav styling */

nav ul{
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 50px;
}


nav a:link {
    text-decoration: none;
    font-family: "Libre Baskerville" serif;
    font-size: 18px;
    background: #00cc66;
    padding: 15px 25px;
    color: #FFF;
}

nav a:visited {
    color: #FFF;
}

nav a:hover {
    background: #0000ff;
    color: #33ccff;
}

section-first{
    padding: 25px;
}


/*Section-First Birdwatching Header Styling"*/

h2 {
    text-align:center;
    font-weight: bold;
}

/*-- Section-Second Birds with their commentary --*/


.section-second {
    display:flex;
    justify-content:space-between;
    max-width: 100%;
    padding:10px;
    margin:15px;
}

img resize {
    border: 1px solid #00e600;
    border-radius: 2px;
    padding-left: 1px;
}

article {
    padding-right: 20px;
    width: 100%;
    height:100%;
    text-align: left;
}

   /* All images were scaled to the same size */
   
  
p {
    line-height: 160%;
    margin:25px;
    word-wrap: break-word;
    margin-right: 2cm;
    font-size:105%;
    text-align: justify;
    text-justify: inter-word;
}
            
 .child {
    width: 200px;
    height: 200px;
    float: left;
    position:absolute;
}
    
.fixed{
    width: 100px;
    height: 125px;
    position: absolute;
    padding-right: 10px 10px 10px 10px;
}

footer {
    text-align: center;
    color: #3333cc;
    background-color: #00cc66;
    font-weight: bold;
}